#!/usr/bin/env bash

# set -x

ipc_server_folder="/tmp/9572cf67-b586-4c68-a7da-7cb904b396b3"
program="${0##*/}"

print_usage() {
    echo "${program} [-h] -s SOCKET_ALIAS [-a [FILE...]|-t]

    Control MPV via IPC

    -a FILE...            append files to playlist (accepts stdin)
    -h                    show this help message and exit
    -m                    set SOCKET_ALIAS as main
    -s SOCKET_ALIAS       IPC socket alias (required, autocompleted)
    -t                    toggle play/pause"
}

alias=""
subcommand=""
while getopts :ahms:t opt
do
  case ${opt} in
    a)
      subcommand="append"
      ;;
    h)
      print_usage
      exit
      ;;
    m)
      subcommand="main"
      ;;
    s)
      alias=${OPTARG}
      ;;
    t)
      subcommand="toggle"
      ;;
    \?)
      echo "Invalid option: -${OPTARG}" >&2
      print_usage >&2
      exit 1
      ;;
  esac
done
shift $((OPTIND - 1))

[[ -z "${alias}" || -z "${subcommand}" ]] && print_usage >&2 && exit 1

socket="${ipc_server_folder}/${alias}"

case ${subcommand} in
  append)
    files=()
    if [[ ${#} -gt 0 ]]; then
      files=("${@}")
    else
      while IFS= read -r file; do
        files+=("${file}")
      done
    fi
    playlist=$(mktemp -p .)
    playlist="${playlist#./}"
    printf '%s\n' "${files[@]}" > ${playlist}
    echo '{"command": ["loadlist", "'${playlist}'", "append"]}' | socat - "${socket}"
    rm ${playlist}
    ;;
  main)
    ln -sf "${socket}" "${ipc_server_folder}/main"
    ;;
  toggle)
    echo '{"command": ["cycle", "pause"]}' | socat - "${socket}"
    ;;
esac
