#!/bin/bash

ipc_server_folder="/var/tmp/9572cf67-b586-4c68-a7da-7cb904b396b3"

_control() {
  local curdir="$(pwd)"
  local cur="${COMP_WORDS[COMP_CWORD]}"
  cd "${ipc_server_folder}" 2>/dev/null && _filedir
  cd "${curdir}"
}

complete -F _control control
